{% extends 'base.html' %}


{% block content %}

    <div>
        <a href="{{ photo.file.url }}"><img src="{{ photo.file.url }}"></a>
    </div>

<div id="bb">
    <p id="s1">Autor: <a href="{% url 'user' pk=object.user.pk %}"> {{ object.user }}</a></p>
    <p id="s2">Tytuł: {{ object.title }}</p>

    {% if object.description is None %}
        <p>Brak opisu</p>
    {% else %}
        <p id="s2">Opis: {{ object.description }}</p>
    {% endif %}

    <p id="s2">Aparat: {{ object.camera_name }}</p>
    <p id="s2">Typ filmu: {{ object.film_type }}</p>
    <p id="s2">Nazwa filmu: {{ object.film_name }}</p>
    <p id="s2">Czułość filmu: {{ object.film_iso }}</p>
    <p id="s2">Przeterminowany: {{ object.film_option1 }}</p>
    <p id="s2">Podczerwień: {{ object.film_option2 }}</p>
    <p id="s2">Skan z negatywu: {{ object.photo_option1 }}</p>
    <p id="s2">Odbitka ciemniowa: {{ object.photo_option2 }}</p>

    {% if request.user.is_authenticated %}
    <a href="{% url 'edit-photo' pk=object.pk %}"><input type="button" value="Edytuj zdjęcie" /></a>
    <a href="{% url 'delete-photo' pk=object.pk %}"><input type="button" value="Usuń zdjęcie" /></a>
    {% endif %}


</div>
{% endblock %}