{% extends 'base.html' %}
{% block content %}
    {% if not object.profile_image %}
        <p class="username"> {{ object.username }}</p>
        <p>Brak zdjęcia profilowego</p>
    {% else %}
        <p class="username"><img id="profile" src="{{ object.profile_image.url }}"> {{ object.username }}</p>
    {% endif %}

    {% if object.description is None %}
        <p>Brak opisu</p>
    {% else %}
        <p>{{ object.description }}</p>
    {% endif %}

    <div>
        <a href="{% url 'edit-user' pk=object.pk %}"><button type="button" value="Edytuj profil">Edytuj profil</button></a>
        <a href="{% url 'add-photo' %}"><button type="button" value="Dodaj nowe zdjęcie">Dodaj nowe zdjęcie</button></a>
        <a href="{% url 'delete-user' pk=object.pk %}"><button type="button" value="Usuń konto">Usuń konto</button></a>
    </div>

    <h2>Najnowsze zdjęcia</h2>

    {% for photo in object.photo_set.all %}
        <a href="{% url 'photo' pk=photo.pk %}"><img src="{{ photo.file.url }}"></a>
    {% empty %}
        <p>Brak zdjęć</p>
    {% endfor %}
{% endblock %}