{% load static %}

<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <link rel="stylesheet" href="{% static "css/style.css" %}">
      <title>
        {% block title %}
        {% endblock %}
      </title>
    {% endblock %}
  </head>
  <body>
  <header id="header">
      <span class="silverfox">
          <a href="/main">SilverFox</a>
      </span>
      <span class="nav">
          {% include "menu.html" %}
      </span>

  </header>
    <div id="user_detail">

    {% block content %}
    <div id="bb">
    {% if not object.profile_image %}
        <p id="aa"> {{ object.username }}</p>
        <p>Brak zdjęcia profilowego</p>
    {% else %}
        <p id="aa"><img id="profile" src="{{ object.profile_image.url }}"> {{ object.username }}</p>
    {% endif %}

    {% if object.description is None %}
        <p>Brak opisu</p>
    {% else %}
        <p>{{ object.description }}</p>
    {% endif %}

        <a href="{% url 'edit-user' pk=object.pk %}"><input type="button" value="Edytuj profil" /></a>
        <a href="{% url 'add-photo' %}"><input type="button" value="Dodaj nowe zdjęcie" /></a>
        <a href="{% url 'delete-user' pk=object.pk %}"><input type="button" value="Usuń konto" /></a>

    <h2>Najnowsze zdjęcia</h2>

    {% for photo in object.photo_set.all %}
    <a href="{{ photo.file.url }}"><img src="{{ photo.file.url }}"></a>
    {% empty %}
    <p>Brak zdjęć</p>
    {% endfor %}
    </div>
        {% endblock %}
    </div>
        <div id="footer">
          {% block footer %}
            {#© Copyright 2018 by DS#}
          {% endblock %}
        </div>
  </body>
</html>


