* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(43, 43, 43);
  height: 100vh;
}

main {
  padding: 30px;
}

nav {
  position: static;
  background-color: rgb(43, 43, 43);
  height: 90px;
  padding: 0;
  margin: 0;
  box-shadow: 0 1px 20px black;
  text-align: right;
  padding-right: 20px;
  padding-top: 20px;
}

nav a {
  padding-right: 20px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: 700;
}

.silverfox {
  color: silver;
  font-weight: bold;
  font-family: "Avenir Next";
  font-size: 55px;
  padding-left: 15px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 15px;
  text-shadow: 3px 3px 5px black;
}

a:link {
  color: grey;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: grey;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: none;
  transition: all 1.3s ease-out;
}

a:active {
  color: orangered;
  background-color: transparent;
  text-decoration: none;
}

h2 {
  color: orangered;
  font-size: 24px;
  font-family: "Arial Black";
  margin-bottom: 25px;
}

#photos {
  -webkit-column-count: 5;
  -webkit-column-gap: 10px;
  -moz-column-count: 5;
  -moz-column-gap: 10px;
  column-count: 5;
  column-gap: 10px;
}

#photos img {
  width: 100% !important;
  height: auto !important;
  margin-bottom: 7px;
}

footer {
  background-color: rgb(43, 43, 43);
  height: 50px;
  padding: 0;
  margin-top: 50px;
  box-shadow: 0 1px 20px black;
  width: 100%;
  text-align: center;
  color: dimgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-text {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: 700;
}

p {
  color: grey;
  font-size: 24px;
}

#footer1 {
  grid-row: 3;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 20px;
  color: dimgray;
}

#profile {
  height: 130px;
}

.content {
  padding-top: 50px;
}

form {
  color: orangered;
  height: calc(100% - 190px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  color: white;
  background-color: tomato;
  width: 100px;
  height: 35px;
  border-radius: 10px;
  margin: 5px;
}

#aa {
  font-size: 40px;
  color: orangered;
}

@media (max-width: 1200px) {
  #photos {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}
@media (max-width: 1000px) {
  #photos {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media (max-width: 800px) {
  #photos {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 400px) {
  #photos {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}
